<div>
  <div id="navbar" class="justify-content-center">
    <a href="#about-me">About me</a>
    <a href="#education">Education</a>
    <a href="#experience">Experience</a>
    <a href="#languages">Languages</a>
    <a href="#abilities">Abilities</a>
  </div>

  <div id="large-header" class="large-header">
    <section id="main-cover" class="demo mb-5">
      <canvas id="demo-canvas" style="width:100%"></canvas>
      <h1 class="main-title">Rose <span class="thin">Moulan</span></h1>
      <a href="#about-me"><span></span><span></span><span></span>Scroll</a>
    </section>
  </div>


    <section id="about-me" class="content mt-5 justify-content-center">
      <h2 class="background mb-5"><span>Who I am so far</span></h2>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="<%= asset_path( 'IMG_0534.jpg' ) %>" style="width:100%"/>
          </div>
          <div class="col-4">
            <h5 class="mb-5">A few words about me</h5>
            <p class="mb-5">Hi, my name is Rose, and I am a currently a student at EDHEC Business School enrolled in the MSc Data Analysis & Artificial Intelligence.</p>
            <p>I see myself as highly motivated person with the right skill set in mind. My main objective is to get better, by learning, seeking opportunities and contributing.</p>
          </div>
          <div class="col-4">
            <ul>
              <li class='perso-infos'><i class="fas fa-birthday-cake"></i> <strong>birthday:  </strong>09/01/1996</li>
              <li class='perso-infos'><i class="fas fa-phone"></i> <strong>phone:  </strong>+33 6 32 26 91 99</li>
              <li class='perso-infos'><i class="fas fa-envelope-open"></i> <strong>email:  </strong>rose.moulan@edhec.com</li>
              <li class='perso-infos'><i class="fab fa-linkedin"></i> <strong>linkedin:  </strong>https://www.linkedin.com/in/rose-moulan/</li>
              <li class='perso-infos'><i class="fas fa-map-marker"></i> <strong>address:  </strong>Lille, France</li>
              <li class='perso-infos'><i class="fas fa-car"></i> <strong>driving license:  </strong>yes</li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <section id="education" class="timeline content" style="background-color: white">
      <h2 class="background mb-2 pt-1"><span style="background-color: white">What I've studied so far</span></h2>
      <ul>
        <li>
          <div class="shadow-lg">
            <img src="<%= asset_path( 'lewagon.png' ) %>" style="width:100%; background-color: rgba(255,255,255,0.95);padding: 20px;"/>
            <p class="text-timeline mb-0"><time>Jan-March 2020, Lille</time> In 9 full-time weeks, I've learned the skills of a full-stack Web Developer and code my own web applications from scratch.</p>
          </div>
        </li>
        <li>
          <div class="shadow-lg">
            <img src="<%= asset_path( 'edhec.png' ) %>" style="width:100%; background-color: rgba(255,255,255,0.95);"/>
            <p class="text-timeline mb-0"><time>2016-2020, Lille</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
          </div>
        </li>
        <li>
          <div class="shadow-lg">
            <img src="<%= asset_path( 'JDS.svg' ) %>" style="width:100%; background-color: rgba(255,255,255,0.95);padding: 20px;"/>
            <p class="text-timeline mb-0"><time>2014-2016, Paris</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
          </div>
        </li>
      </ul>
    </section>


    <section id="experience" class="portfolio">
      <h2 class="background mb-5"><span>What I've done so far</span></h2>
      <div class="content container" style="width:1000px">

        <div class="projects ">

          <div class="project  ">
            <div class="project-image">
              <img src="<%= asset_path( 'woop1.jpg')%>" style="width:50%"/>
            </div>
            <div class="project-title"  style="right:-255px">
              <h2>Digital Marketing Intern</h2>
            </div>
            <div class="project-description">
              <h6>Auckland, New Zealand</h6>
              <ul>
                <li>Analysed data to understand why a marketing campaigns is working or not</li>
                <li>Analysed how customers are buying and built campaigns according to the findings</li>
                <li>Executed marketing campaigns to maximise customer acquisition and brand awareness.</li>
                <li>Created new multi-channel campaigns, managing social media, reviewing digital strategy...</li>
                <li>Built a TV campaign from ideation, script writing, shooting and finalization.</li>
                <li>Hands on sales</li>
              </ul>
            </div>
          </div>

          <div class="project" style="margin-left:auto">
            <div class="project-image">
              <img src="<%= asset_path( 'amazon.jpg')%>" style="width:50%"/>
            </div>
            <div class="project-title " style="right:-120px">
              <h2>Operation intern</h2>
            </div>
            <div class="project-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi magni consequatur dolores distinctio quod accusamus voluptatum obcaecati animi expedita rem odio explicabo veritatis voluptas ducimus voluptate earum laborum, qui maiores doloremque deserunt sapiente corporis et culpa, nihil fuga. Sit nemo maxime itaque maiores iure, similique ratione veritatis quidem nulla explicabo.</p>
            </div>
          </div>

          <div class="project  ">
            <div class="project-image">
              <img src="<%= asset_path( 'bde.png')%>" style="width:50%"/>
            </div>
            <div class="project-title" style="right:-120px">
              <h2>Digital manager</h2>
            </div>
            <div class="project-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi asperiores odio libero, molestiae at suscipit totam sequi, delectus temporibus. Provident itaque illum animi cupiditate quaerat! Id inventore, excepturi sequi totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores iure ex repudiandae, enim maxime.</p>
            </div>
          </div>

          <div class="project" style="margin-left:auto">
            <div class="project-image">
              <img src="<%= asset_path( 'ge.png')%>" style="width:50%"/>
            </div>
            <div class="project-title">
              <h2>Logistic</h2>
            </div>
            <div class="project-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi asperiores odio libero, molestiae at suscipit totam sequi, delectus temporibus. Provident itaque illum animi cupiditate quaerat! Id inventore, excepturi sequi totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores iure ex repudiandae, enim maxime.</p>
            </div>
          </div>

          <div class="project  ">
            <div class="project-image">
              <img src="<%= asset_path( 'youshould.jpg')%>"style="width:50%"/>
            </div>
            <div class="project-title" style="right:-170px">
              <h2>Business Developer</h2>
            </div>
            <div class="project-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi asperiores odio libero, molestiae at suscipit totam sequi, delectus temporibus. Provident itaque illum animi cupiditate quaerat! Id inventore, excepturi sequi totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores iure ex repudiandae, enim maxime.</p>
            </div>
          </div>

        </div>
      </div>
    </section>



    <section id="languages" class="content mt-5 pb-2 bg-white">
      <h2 class="background mb-5 pt-1"><span style="background-color: white">Languages I speak so far</span></h2>
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="progress col-4" style="flex:none; margin:20px" data-percentage="100">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value d-flex flex-column justify-content-center">
              <h4>French</h4>
              <div>Native</div>
            </div>
          </div>

          <div class="progress col-4" style="flex:none; margin:20px" data-percentage="90">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value d-flex flex-column">
              <h4>English</h4>
              <div>Fluent</div>
              <div>TOEIC: 980</div>
            </div>
          </div>

          <div class="progress col-4" style="flex:none; margin:20px" data-percentage="50">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value d-flex flex-column">
              <h4>German</h4>
              <div>Basic</div>
            </div>
          </div>

          <div class="progress col-4" style="flex:none; margin:20px" data-percentage="55">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value d-flex flex-column">
              <h4>Arabic</h4>
              <div>Basic</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="abilities" class="content mt-1">
      <div>
        <h2 class="background mb-5"><span>My skills so far</span></h2>
        <div class="container">
          <ul>
            <li>R</li>
            <li>Python</li>
            <li>Ruby</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Joomla & Wordpress</li>
            <li>Tableau</li>
            <li>VBA</li>
            <li>Adobe Anima</li>
            <li>Photoshop</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="hobbies" class="content mt-1">
      <div>
        <h2 class="background mb-5"><span>What I like to do so far</span></h2>
        <p>Dolorem Dolorem rerum et aspernatur inventore quasi et quod doloremque exercitationem sunt adipiscing facilis possimus minus labore exercitationem aspernatur ipsam voluptatibus excepturi nihil! Voluptatem dolores id accusantium temporibus assumenda et atque unde consectetur fugit sit qui voluptas fugit dolore nihil quidem tempore consequuntur similique reprehenderit et rerum. Velit corporis consequatur nesciunt est corporis et qui quod. Recusandae qui consequatur itaque inventore hic molestiae labore doloDolorem rerum et aspernatur inventore quasi et quod doloremque exercitationem sunt adipiscing facilis possimus minus labore exercitationem aspernatur ipsam voluptatibus excepturi nihil! Voluptatem dolores id accusantium temporibus assumenda et atque unde consectetur fugit sit qui voluptas fugit dolore nihil quidem tempore consequuntur similique reprehenderit et rerum. Velit corporis consequatur nesciunt est corporis et qui quod. Recusandae qui consequatur itaque inventore hic molestiae labore doloDolorem rerum et aspernatur inventore quasi et quod doloremque exercitationem sunt adipiscing facilis possimus minus labore exercitationem aspernatur ipsam voluptatibus excepturi nihil! Voluptatem dolores id accusantium temporibus assumenda et atque unde consectetur fugit sit qui voluptas fugit dolore nihil quidem tempore consequuntur similique reprehenderit et rerum. Velit corporis consequatur nesciunt est corporis et qui quod. Recusandae qui consequatur itaque inventore hic molestiae labore dolores rerum veniam culpa dolorem velit in molestiae voluptatem. Non sed quod animi excepturi sapiente obcaecati quod.res rerum veniam culpa dolorem velit in molestiae voluptatem. Non sed quod animi excepturi sapiente obcaecati quod.res rerum veniam culpa dolorem velit in molestiae voluptatem. Non sed quod animi excepturi sapiente obcaecati quod.rerum et aspernatur inventore quasi et quod doloremque exercitationem sunt adipiscing facilis possimus minus labore exercitationem aspernatur ipsam voluptatibus excepturi nihil! Voluptatem dolores id accusantium temporibus assumenda et atque unde consectetur fugit sit qui voluptas fugit dolore nihil quidem tempore consequuntur similique reprehenderit et rerum. Velit corporis consequatur nesciunt est corporis et qui quod. Recusandae qui consequatur itaque inventore hic molestiae labore dolores rerum veniam culpa dolorem velit in molestiae voluptatem. Non sed quod animi excepturi sapiente obcaecati quod.</p>
      </div>
    </section>


</div>
